/*p태그에 밑의 스타일 적용*/
p{
	font-size : 16px;
	font-family : Gulim;
	text-align: center;
	color : red;
}

/*highlight 클래스에 밑의 스타일 적용*/
.highlight{
	font_size : 3em;
	text-align : right;
	color : green;
}