<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
</head>
<body>
    <form action="/register" method="post">
        
        <label for="user_id">아이디:</label><br>
        <input type="text" id="user_id" name="user_id"><br>
        <label for="user_pw">비밀번호:</label><br>
        <input type="password" id="user_pw" name="user_pw"> </input><br>
        <label for="user_name">이름:</label><br>
        <input type="text" id="user_name" name="user_name"><br>
        <label for="user_email">이메일:</label><br>
        <input type="text" id="user_email" name="user_email"> </input><br>
        <label for="user_phonenum">전화번호:</label><br>
        <input type="text" id="user_phonenum" name="user_phonenum"> </input><br>
        <button type="submit">계정 생성</button>
    </form>

        
</body>
</html>