<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align = 'center'>검색 결과</h1>
    {%if posts | length > 0%}
    </div>
    <table align = 'center' border="1" width = '1200'>
        <th>번호
        <th> 제목</th>
        <th>내용</th>
        {% for post in posts%}
        <tr>
        
            <td align = 'center' width = '50'>{{post[0]}}</td>
            <td align = 'center' width ='200'><a href="/{{post[0]}}">{{post[1]}}</a></td>
            <td align = 'center' width = '600'>{{post[2]}}</td>
        </tr>
    
        {%endfor%}
    </table>
    {%else%}
        <h1 align = 'center'>검색 결과 없음</h1>
   
    {%endif%}
    <div align='right'>
        <a href='/'><button>돌아가기</button></a>
    </div>
</body>
</html>