<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align='center'>{{post[1]}}</h1>
    <p align= 'center'>{{post[2]}}</p>
    <div align = 'right'>
        <a href='/{{post[0]}}/update'><button>글 수정하기</button></a>
    </div>
    <a href='{{post[0]}}/delete'><button>삭제</button></a>
    <div align='right'>
        <a href='/'><button>돌아가기</button></a>
    </div>
</body>
</html>